In [19]:
import pandas as pd

In [20]:
zvirata = pd.read_csv("adopce-zvirat.csv")
print(zvirata)

        id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0    7;"Šváb syčivý";"Madagascar giant cockroach ";...
1    8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                    16;"Tayra";"Tayra";"Savci";5000;1
3    35;"Kajmanka supí";"Alligator snapping turtle"...
4    37;"Želva žlutočelá";"Indochinese box turtle";...
..                                                 ...
508  1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509   1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510              1419;"Bažant paví";" ";"Ptáci";1000;1
511      1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512       1421;"Kachnice kaštanová";" ";"Ptáci";1000;1

[513 rows x 1 columns]

In [21]:
zvirata.to_csv("export_dat.csv", sep=";", encoding="utf-8", index=False)

In [22]:
pocet_radku = zvirata.shape[0]
print("Moje data mají " + str(pocet_radku) + " řádků.")

Moje data mají 513 řádků.

In [23]:
len(zvirata.index)

513

In [24]:
zvirata.columns

Index(['id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce'], dtype='object')

In [25]:
zvirata.iloc[:]

        id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0    7;"Šváb syčivý";"Madagascar giant cockroach ";...
1    8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                    16;"Tayra";"Tayra";"Savci";5000;1
3    35;"Kajmanka supí";"Alligator snapping turtle"...
4    37;"Želva žlutočelá";"Indochinese box turtle";...
..                                                 ...
508  1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509   1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510              1419;"Bažant paví";" ";"Ptáci";1000;1
511      1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512       1421;"Kachnice kaštanová";" ";"Ptáci";1000;1

[513 rows x 1 columns]

In [26]:
zvirata.info()
zvirata.shape
zvirata.describe()
zvirata.columns
zvirata.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 1 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce  513 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

      id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0  7;"Šváb syčivý";"Madagascar giant cockroach ";...
1  8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                  16;"Tayra";"Tayra";"Savci";5000;1
3  35;"Kajmanka supí";"Alligator snapping turtle"...
4  37;"Želva žlutočelá";"Indochinese box turtle";...

In [27]:
zvirata.iloc[34]

id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce    99;"Ibis bílý";"White ibis";"Ptáci";3000;1
Name: 34, dtype: object