In [36]:
import pandas as pd

zam_praha = pd.read_csv("zam_praha.csv")
zam_praha["mesto"] = "Praha"

zam_plzen = pd.read_csv("zam_plzen.csv")
zam_plzen["mesto"] = "Plzeň"

zam_liberec = pd.read_csv("zam_liberec.csv")
zam_liberec["mesto"] = "Liberec"

In [37]:

zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec], ignore_index=True)
zamestnanci.to_csv("zamestnanci.csv", index=False)

In [38]:
platy = pd.read_csv("platy_2021_02.csv")

In [72]:
# Propojení tabulek pomocí čísla zaměstnance
zamestnanci_s_platy = pd.merge(zamestnanci, platy, on="cislo_zamestnance", how="left")

zamestnanci_s_platy.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto     plat
0     Brian      Hall  +421 949 656 098                 30  Praha  33500.0
1     Marta  Kolářová       730 456 163                 32  Praha  53000.0
2      John   Moravec       725 092 179                 33  Praha  38400.0
3  Dominika   Kopecká       722 747 626                 34  Praha  36800.0
4    Marcel     Hájek  +421 902 928 669                 35  Praha      NaN

In [40]:

# Porovnání  tabulek
print(f"Rozměry tabulky se zaměstnanci: {zamestnanci.shape}")
print(f"Rozměry tabulky s platy: {platy.shape}")
print(f"Rozměry spojené tabulky: {zamestnanci_s_platy.shape}")

Rozměry tabulky se zaměstnanci: (56, 5)
Rozměry tabulky s platy: (43, 2)
Rozměry spojené tabulky: (56, 6)

In [41]:
# průměrný plat zaměstnanců v jednotlivých kancelářích
prumerny_plat = zamestnanci_s_platy.groupby("mesto")["plat"].mean()
print("Průměrný plat zaměstnanců v jednotlivých kancelářích:\n", prumerny_plat)

Průměrný plat zaměstnanců v jednotlivých kancelářích:
 mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [58]:
# načtení výkazů
import pandas as pa
vykazy = pd.read_csv("vykazy.csv")

#vykazy

# Agregace a  celkový počet vykázaných hodin za jednotlivé projekty
celkove_hodiny_projekty = vykazy.groupby('project')['hours'].sum()

print("Celkový počet vykázaných hodin za jednotlivé projekty:\n", celkove_hodiny_projekty)

Celkový počet vykázaných hodin za jednotlivé projekty:
 project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

In [60]:
# Zaměstnanci, kteří ve firmě již nepracují
nepracuji = zamestnanci_s_platy[zamestnanci_s_platy['plat'].isnull()]

# Počty zaměstnanců, kteří ve firmě již nepracují
pocet_nepracujicich = len(nepracuji)
print("Počet zaměstnanců, kteří ve firmě již nepracují:", pocet_nepracujicich)

Počet zaměstnanců, kteří ve firmě již nepracují: 13

In [68]:
nepracuji

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
4      Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
12   Karolína     Short       721 589 083                 53    Praha   NaN
13   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
16       John    Bailey       775 021 116                 58    Praha   NaN
17    William   Shelton  +421 47 745 8219                 60    Praha   NaN
18  Miroslava    Veselá       774 029 254                 62    Praha   NaN
21     Nathan   Svoboda       728 710 923                 66    Praha   NaN
24     Robert      Říha       727 351 984                 72    Praha   NaN
33   Jindřich    Howell  +421 39 043 0948                 10    Plzeň   NaN
34  Alexander  Martinez       721 195 689                 13    Plzeň   NaN
48   Jennifer     Brown       775 545 190                 86  Liberec   NaN
50     Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
55       Ivan    Bartoš       603 226 051                 99  Liberec   NaN

In [69]:
# Vytvoření tabulky s jmény zaměstnanců, kteří ve firmě již nepracují
nepracujici_tabulka = nepracuji[['jmeno', 'prijimeni', 'mesto']]

In [70]:
nepracujici_tabulka.to_csv('nepracujici_zamestnanci.csv', index=False)